<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791926745456-ignpa1v6i9b70refvvh7p4mt1tf0r2ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791926745456-ignpa1v6i9b70refvvh7p4mt1tf0r2ti</string>
	<key>API_KEY</key>
	<string>AIzaSyCav4YcvDdFJSW5GlsOFsdrFQzbtoV7QrM</string>
	<key>GCM_SENDER_ID</key>
	<string>791926745456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myNovel</string>
	<key>PROJECT_ID</key>
	<string>fluttermynovel</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermynovel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791926745456:ios:a016da8f4fa4c79c40c7b5</string>
</dict>
</plist>